ui/node_modules/**/*
ui/.expo/*
ui/.expo-shared/*
ui/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.lock
ui/web-build/
ui/yarn.lock
ui/package.json.lock
ui/package.json
ui/package-lock.json
*.pyc

# macOS
*.DS_Store
